body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0 0; */
  padding: 0;
  z-index: 1;

}

.myheader {
  background-color: white;
  width: 100%;
}

.mainblock {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url(../template/img/pattern.png) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerblock {
  margin: 0px;
  padding: 0px;
  background-color: white;
  width: 100%;
}


.gallery img {
  width: 50px;
  height: 50px;

}

.logoimg {
  width: 7rem;
  margin: 0px;
  padding: 0px;
}

.headermainphoto {
  background-color: white;
  width: 100%;
  text-align: center;
}

.headermainphoto img {
  width: 100%;
  height: 100%;
  margin-top: -3rem;
}

.orangewave {
  width: 100%;
}

.whiteblock {
  text-align: center;
  padding: 30px 2px;
  margin: 5px auto;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.1);

}

/* add button and  input hide */
.inputbox {
  width: 15em;
  height: 100%;
  cursor: pointer;
}

.file_upload {
  position: relative;
  overflow: hidden;
  font-size: 1.8em;
  height: 2.8em;
  /* line-height: 3em; */
  cursor: pointer;

}

.file_upload .addimg {
  float: center;
  width: 8em;
  height: 100%;
  background-color: orange;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  background: #f7a673;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.addimg p {
  margin-top: 7px;
  cursor: pointer;
}

.addimg:hover {
  background-color: #f6861f;
  cursor: pointer;
}



.file_upload div {
  cursor: pointer;
}

.imgblock {
  padding-top: 1rem;
}



.file_upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(20);
  letter-spacing: 10em;
  -ms-transform: scale(20);
  opacity: 0;
}


.fileMulti [type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(20);
  letter-spacing: 10em;
  /* IE 9 fix */
  -ms-transform: scale(20);
  /* IE 9 fix */
  opacity: 0;
  cursor: pointer;
}

.singleinput {
  display: none;
}

#outputMulti {
  margin: 5px;
  padding: 5px;
  display: contents;
}

#outputMulti img {
  cursor: pointer;
}

.outputdiv {
  margin-top: -6rem;
}

.legal p {
  line-height: 14px;
  text-align: left;
}


.mycontainer {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  background: #FFFFFF;
  margin: 3px;
  position: relative;
}



.markitem {
  position: relative;
  z-index: 5;
  opacity: 0.6;
  top: -154px;
  left: 59px;
}


.modal-content {

  background-color: white;
  /* background: url(../template/img/background.png) no-repeat center;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

.modal-header {
  /* background: url(../template/img/background.png) no-repeat center; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.buttons {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2em;
}


.statusimg {
  background-color: #f6861f;
  font-size: 2rem;
  text-align: center;
  border-radius: unset;
  display: inline-grid;
}

.statusimg h3 {
  font-size: 2rem;
  padding-top: 0.8rem;
  text-align: center;
}



.modalbutton {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
}
.statusdiv{
margin-top: 15px;
margin-bottom: -15px;
}


@media (max-width: 575.98px) {
  .mycontainer {

    display: inline-block;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    background: #FFFFFF;
    margin: 1px;
    position: relative;
  }

  .markitem {
    position: relative;
    z-index: 5;
    opacity: 0.6;
    top: -95px;
    left: 31px;
  }

}